:root{
    background: #64cae3;
    background: radial-gradient(circle, rgba(100, 202, 227, 1) 0%, rgba(46, 46, 140, 1) 70%, rgba(18, 36, 128, 1) 100%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 39%, rgba(2, 0, 36, 1) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logo a{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0; 
    padding: 20px;
    text-decoration: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
}
.nav-links a:hover {
    text-decoration: underline; 
}

.main {
    text-align: center;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    height: 100vh; 
}

/* form */
form {
    background-color: rgb(166, 184, 238);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input, form select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
form label {
    font-weight: bold;
    display: block;
    text-align: left;
}
form button {
    padding: 10px;
    background-color: #220670;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
#heading{
    text-align: center;
}
#req{
    color: red;
}